.container {
  
  margin-left:auto;
  margin-right: auto;
}

.button {
  background-color: grey;
  border: 0.5 px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bt1{
	background-color: green;
}
.knobs {
	border-radius: 80%;
	}
.knobs1 {
	border-radius: 80%;
	background-color: red;
	
	}


.square {
  height: 50px;
  width: 50px;
  background-color: grey;
}

.circle {
  height: 70px;
  width: 70px;
  background-color: grey;
  border-radius: 50%;
}
.circle1 {
  height: 70px;
  width: 70px;
  background-color: red;
  border-radius: 50%;
}


.ofs{
	height: 150px;
	width: 50px;
	/* border: 5px solid black; */
	background-color: grey;
	position: relative;
}

.rec1{
	height: 50px;
	width: 20px;
	background-color: red;
	position: relative;
	left: 15px;
	top: 50px;
}
	
.rectangle {
  height: 50px;
  width: 100px;
  background-color: green;
}